@font-face {font-family: 'Exo2';
    src: url('fonts/Exo2.woff') format('woff');}
    *{
        font-family: 'Exo2';
    }
    
.nav{
    display: none;
}



body header, body header a, body header nav, body header nav a{
    display: flex;
    align-items: center;
}

body{
    margin: 0;
    background-color: #ACAAF6;
}

body header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #561BB6;
}

body header a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

footer{
    background-color: #561BB6;
    color: white;
    padding: 3%;
    padding-bottom: 4%;
}

.podval{
    padding-bottom: 100px;
}

.one{
    text-align: center;
    margin-top: 0;
    padding-top: 40px;
    font-size: 150%;
}

.image{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer div img{
    margin-left: 20px;
    margin-right: 20px;
}

.pod{
    float: left;
    margin-right:10%;
    margin-left: 16%;
}

.conteiner{
    margin-top: 50px;
}


.roulette-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  z-index: 0;
  }
  
  .roulette {
    display: flex; /* Используем flexbox для расположения изображений в строку */
    transition: transform 0.5s ease;
  }
  
  .images{
    display: flex; /* Расположим изображения в строку */
    width: 100%; /* Установим ширину контейнера на 100% ширины родительского контейнера */
    
  }

  .images img {
    width: 100%; /* Устанавливаем ширину изображений на 100% для занимаемого места */
    height: auto;
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 5vw;
    color: white;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev-btn {
    left: 1vw;
  }
  
  .next-btn {
    right: 1vw;
  }
  
  main {
    position: relative;
    text-align: center;
  }
  
  .p{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: white;
    font-size: 25px;
  }

  main h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: white;
    font-size: 150px;
  }

  .S{
    display: block;
    margin-top: 150px;
    font-size: 25px;
  }

  .steps{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 1px;
    margin: 25px;
  }

  .s1{
    flex-direction: column;
    border: #561BB6 3px solid;
    color: white;
    display: flex; /* Расположение элементов внутри блока flexbox */
    justify-content: center; /* Выравнивание по горизонтали по центру */
    align-items: center; /* Выравнивание по вертикали по центру */
    background-color: #6f6aedbb;
    margin: 40px;
    text-align: center;
    height: auto;
    border-radius: 40px;
  }

  .s6{
    border: #561BB6 3px solid;
    display: flex; /* Расположение элементов внутри блока flexbox */
    justify-content: center; /* Выравнивание по горизонтали по центру */
    align-items: center; /* Выравнивание по вертикали по центру */
    flex-direction: column; /* Элементы будут располагаться вертикально */
    background-color: rgba(51, 46, 196, 0.612);
    margin: 40px;
    color: white;
    text-align: center;
    height: auto;
    border-radius: 40px;
  }

  .but{
    width: 180px;
    height: 40px;
    background-color: #ACAAF6;
    color: white;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.75);
    border-radius: 40px;
}

.C{
    display: block;
    background-color: #bbb9f6;
    margin-top: 150px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 25px;
  }

  .columns{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
    margin: 50px;
  }

  .c1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
  }


  @media all and (max-width: 750px) {
    .nav{
        display: flex;
        z-index: 10000;/*приоритетность элементов на странице*/
    }
    .nav ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    } 
    nav>ul>li {
        position: relative;
    }
    .nav li a{
        display: block;
        border: solid black 1px;
        padding: 8px;
        text-decoration: none;
        background-color: #561BB6;
    }
    .nav li .second a{
        border: solid black 1px;
        background-color: #561BB6;
        color: white;
        width: 100%;
    }
    .nav li .second{
        display: none;
        position: absolute;
        right: 10%;
    }
    .nav li:hover .second{
        display: block;
    }
    .nav li{
        width: 100px;   
    }
    * {
        text-align: center;
    }
    .menu {
        display: none;
    }
    .burgerNav {
      display: flex;
      font-size: 40px;
      justify-content: center;
      }
    .p {
      font-size: 90%; /* Уменьшаем размер шрифта до 100% от изначального размера */
      top: 90%; /* Смещаем текст немного выше */
    }

    main h1 {
      font-size: 65px; /* Уменьшаем размер заголовка до 500% от изначального размера */
    }

    .pod{
        width: 70%;
        height: 35%;
        align-content: center;
    }   
      
  .steps{
    display: grid;
    grid-template-columns: 100%;
    margin: 25px;
  }

  .columns{
    display: grid;
    grid-template-columns: 100%;
    margin: 25px;
  }
  h1{
    font-size: 25px;
  }
  .S{
    font-size: 18px;
  }
  .C{
    font-size: 18px;
  }
}