.nav{
    display: none;
}

@media (max-width: 750px) {
    .nav{
        display: flex;
    }
    .nav ul{
        list-style-type: none;
    } 
    nav>ul>li {
        position: relative;
    }
    .nav li a{
        display: block;
        border: solid black 1px;
        padding: 8px;
        text-decoration: none;
        background-color: #561BB6;
    }
    .nav li .second a{
        border: solid black 1px;
        background-color: #561BB6;
        color: white;
        width: 100%;
    }
    .nav li .second{
        display: none;
        position: absolute;
        right: 10%;
    }
    .nav li:hover .second{
        display: block;
    }
    .nav li{
        width: 200px;   
    }
    * {
        text-align: center;
    }
    .menu {
        display: none;
    }
    .pod{
        width: 70%;
        height: 35%;
        align-content: center;
    }
    input, select, buttom{
        width: 100px;
    }
    main div{
        margin-left: 0px;
        margin-top: 100px;
        margin-bottom: 100px;
        width: 50px;
        height: 40px;
        ;
    }
}

@font-face {font-family: 'Exo2';
    src: url('fonts/Exo2.woff') format('woff');}
    *{
        font-family: 'Exo2';
    }


body header, body header a, body header nav, body header nav a{
    display: flex;
    align-items: center;
}

body{
    margin: 0;
    background-color: #ACAAF6;
}

body header{
    height: 100px;
    justify-content: space-between;
    background-color: #561BB6;
}

body header a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.menu a{
    margin-left: 20px;
    margin-right: 20px;
}

footer{
    background-color: #561BB6;
    color: white;
    height: auto;
    
}

.podval{
    padding-bottom: 100px;
}

.one{
    text-align: center;
    margin-top: 0;
    padding-top: 40px;
    font-size: 20px;
}

.image{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer div img{
    margin-left: 20px;
    margin-right: 20px;
}

.pod{
    float: left;
    margin-right:10%;
    margin-left: 16%;
}

.conteiner{
    margin-top: 50px;
}

h2{
    text-align: center;
    font-size: 30px;
}

input, select{
    width: 500px;
    font-size: 20px;
    height: 50px;
    background-color: #ACAAF6;
    border: none;
    border-bottom: 1px solid #561BB6;
    color: white;
}

button{
    width: 500px;
    height: 50px;
    background-color: #561BB6;
    color: white;
    font-size: 20px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.75);
}

main div{
    margin-left: 485px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 180px;
    height: 40px;
}